:root {
  --button_height: 3vh;
  --button_width: 3vw;
}

html {
  font-family: "Nunito", sans-serif;
}
.website {
  display: flex;
  background-color: white;
  border-radius: 20%;
  justify-self: center;
  height: 78vh;
  position: relative;
}

body {
  display: flex;
  flex-direction: row;
  background-image: url("../assets/bg.png");
  background-color: rgb(236, 235, 235);
  padding: 3vmax;
  justify-content: center;
  border-radius: 10%;
}
.navbar {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  flex-grow: 1;
  padding: 1rem;
  align-items: flex-start;
  background-image: linear-gradient(white, rgb(249, 248, 248));
  border-right: 1px solid rgb(214, 214, 214);
}
.navbar > :first-child {
  display: flex;
  flex-direction: row;
}
.navbar > :first-child > img {
  display: flex;
  width: 55px;
  height: 50px;
}
.navbar > div {
  display: flex;
  flex-direction: inherit;
}
.navbar > :last-child {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 1vw;
  border-radius: 5%;
  width: 100px;
  height: 250px;
  justify-self: flex-start;
  align-self: center;
}
.navbar > :last-child > img {
  border-radius: 100%;
}
.navbar > :last-child > button {
  border-radius: 10%;
  border-color: none;
  border-width: 0;
  background-color: rgb(249, 245, 245);
  display: flex;
  justify-content: center;
  border-right: 1vw;
  border-left: 1vw;
  height: 30px;
  align-items: center;
}
.navbar > :last-child > button:hover {
  background-color: gold;
  transition: 0.3s;
  border-radius: 10%;
}
.navbar > :last-child > button:active {
  transition: 0.3s;
  background-color: goldenrod;
}

.menu {
  justify-content: left;
  align-items: flex-start;
}
.menu > h5 {
  display: flex;
}
.menu > button {
  border-radius: 10%;
  border-color: none;
  border-width: 0;
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu > button:hover {
  background-color: gold;
  transition: 0.3s;
  border-radius: 10%;
}
.menu > button:active {
  transition: 0.3s;
  background-color: goldenrod;
}
.menu > :nth-child(2) {
  justify-content: flex-start;
}
.menu > :nth-child(2) > :last-child {
  width: 10%;
  border-left: 1vw;
}
.burgery > button > img {
  width: 200px;
  height: 130px;
}
.burgery {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  flex-grow: 2;
  gap: 2vw;
}
.burgery > button {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  border-width: 0;
  height: 300px;
  box-shadow: -2px 2px 1px rgb(244, 241, 241);
  justify-content: center;
  align-items: center;
}
.burgery > button > :last-child {
  color: rgb(231, 197, 3);
}
.burgery > :nth-child(5) > img {
  width: 124px;
  align-self: center;
}
.burgery > :nth-child(4) > img {
  height: 122.5px;
}
.treść > :first-child > :first-child > button {
  display: flex;
  background-color: transparent;
  border: 0;
  padding-top: 0.3vh;
}
.treść > :first-child > :first-child > :first-child {
  background-color: rgb(236, 233, 233);
  border-radius: 40%;
}
.treść > :first-child > :first-child > :nth-child(2) {
  color: rgb(163, 160, 160);
  padding-top: 4px;
}
.treść > :first-child > :first-child > :nth-child(3) {
  color: rgb(163, 160, 160);
  padding-top: 4px;
}
.treść > :first-child > :first-child > :last-child {
  padding-top: 4px;
}
.treść > :first-child > :first-child {
  display: flex;
  padding-top: 1vh;
  gap: 1vw;
}
.treść > :first-child > :nth-child(2) {
  padding-top: 4px;
  display: flex;
  justify-content: center;
}
.treść > :first-child :nth-child(2) > :first-child {
  width: 40px;
}
.treść > :first-child > :nth-child(2) > :last-child {
  border-radius: 5%;
}
.treść > :first-child {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}
.treść {
  border-left: 1vw solid transparent;
  background-image: linear-gradient(white, rgb(249, 249, 249));
  padding: 1vw;
  display: flex;
  flex-direction: column;
}
.Notification_count {
  background-color: gold;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  border-left: 1vw;
}
